html {
  font-family: Verdana;
  line-height: 200% ;
  background: rgb(255,249,160);

}

img {
  margin: 0 auto;
  border: solid coral;
}

h1 {
  font-variant: small-caps;
  color: rgb(158,12,232);
  border: solid rgb(158,12,232);
}

.subtitle {
  color: rgb(64,99,255);
}

li.subtitle{
  color:rgb(15,11,255);
}
h4.subtitle {
  color: rgb(72,9,255);
}

a {
  color: rgb(255,47,7);
}
