.font{
    font-family: 'Montserrat', sans-serif;
    font-size:larger;
}
.gray{
    background-color:rgb(235,235,235);
}
.white{
    background-color: white;
}
.column{
    width:803px;
    margin:auto;
}
a{
    text-decoration:none;
    position:relative;
}
.portrait{
    border-radius: 49%;
    border: 5px solid rgb(235,235,235);
    display: block;
    margin:auto;
    margin-top: 25px;
    outline: 1px solid blue;
}
h1, h2, h3{
text-align:center;
outline: 1px solid green;
}
.button{
    display:block;
    background-color: rgb(225,93,95);
    color:white;
    font-size: large;
    border-radius: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align:center;
    width: 170px;
    margin:auto;
}
.bio{
    padding-top:20px;
}
li{
    list-style: none;
    display: block;
    outline: 1px solid lime;
}
.social{
    display:grid;
    grid-template-areas:"fbLogo linkedInLogo twitterLogo"
                        "FB linkedIn twitter";
    grid-template-columns: 200px 200px;
    justify-content: center;
    outline:1px solid purple;
    padding: 50px 0px 50px 0px;
}
.FB,.linkedIn,.twitter{
    display:inline-block;
    outline:1px solid orange;
    justify-content:center;
    
}
i{
    display:block;
    outline: 1px solid red;
    position:absolute;
    width: 40px;
    left:30px;
}

